<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title id="title">
      #AllowFind
   </title>
   <link rel="shortcut icon" href="assets/img/face.png">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
      rel="stylesheet">
   <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
   <link href="assets/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="styles/plugins/c3.css">
   <link rel="stylesheet" href="styles/plugins/waves.css">
   <link rel="stylesheet" href="styles/plugins/perfect-scrollbar.css">
   <link rel="stylesheet" href="styles/bootstrap.min.css">
   <link rel="stylesheet" href="styles/main.min.css">
   <style>
      body {
         overflow-x: hidden;
         font-family: "Special Elite", monospace;
      }

      #top-bar {
         background-color: #212F3C;
         width: 100%;
         height: 60px;
         background-color: #212F3C;
         position: relative;
         top: -20px;
      }

      #title-top-bar {
         position: relative;
         top: 5px;
         color: white;
         font-weight: bold;
         left: 55px;
      }

      #logo-top-bar {
         width: 60px;
         position: relative;
         top: -50px;
      }

      .line {
         border-right: 2px solid rgba(255, 255, 255, 0.75);
         color: rgba(255, 255, 255, 0.75);
         font-size: 3em;
         margin: 0 auto;
         white-space: nowrap;
         overflow: hidden;
      }

      .typing-animation {
         animation: blinkCursor 500ms steps(40) infinite normal,
            typing 4s steps(40) 1s normal both;
      }

      @keyframes typing {
         from {
            width: 0;
         }

         to {
            width: 6em;
         }
      }

      @keyframes blinkCursor {
         from {
            border-right-color: rgba(255, 255, 255, 0.75);
         }

         to {
            border-right-color: transparent;
         }
      }
   </style>
   <script src="scripts/vendors.js"></script>
   <script src="scripts/plugins/d3.min.js"></script>
   <script src="scripts/plugins/c3.min.js"></script>
   <script src="scripts/plugins/screenfull.js"></script>
   <script src="scripts/plugins/perfect-scrollbar.min.js"></script>
   <script src="scripts/plugins/waves.min.js"></script>
   <script src="scripts/plugins/jquery.sparkline.min.js"></script>
   <script src="scripts/plugins/jquery.easypiechart.min.js"></script>
   <script src="scripts/plugins/bootstrap-rating.min.js"></script>
   <script src="assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
   <script src="assets/pages/jquery.sweet-alert.init.js"></script>
</head>

<body class="text-center">
   <!-- <link rel="shortcut icon" href="" /> -->
   <div class="container">
      <div class="content-container nav-expand fixedHeader" id="content">
         <div class="page page-dashboard">
            <div class="page-wrap">
               <div class="row"><br><br><br>
                  <div class="dash-head clearfix mt15 mb20">
                     <h1 class="line typing-animation">
                        Bem vindo!
                     </h1>
                     <div>
                     </div>
                  </div><br><br>
                  <!--  -->
                  <a href="/checkersicredi" style="color: #fff" type=" button"
                     class="btn btn-line-warning btn-icon waves-effect">
                     <h3>Banco Sicredi</h3>
                  </a><br><br><br>
                  <a href="/checkerbb" style="color: #fff" type=" button"
                     class="btn btn-line-warning btn-icon waves-effect">
                     <h3>Banco do Brasil</h3>
                  </a>
                  <!--  -->
               </div>
            </div>
         </div>
         <footer>
            <marquee>Dev Marcos 👌🏻😉</marquee>
         </footer>
</body>

</html>